/* Logo */

.logo {
  height: 3rem; 
  width:  auto;
}

/* Navabar */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: inline-block;
    margin-top:-1px;
}

.dropdown-submenu {
    display: none;
    position:relative;
}

.dropdown-menu-2:hover .dropdown-submenu {
    display: inline-block;
    left: 100%;
    margin-top:-2.1rem;
    /*margin-left:1px;*/
    position:absolute;
}

@media screen and (max-width: 991px) {
    .dropdown-menu-2:hover .dropdown-submenu {
       /*display: block;*/
       display: none; /* Not pratical on small screens and the same page is loaded anyway */
       position:relative;
       top:100%;
       left:0%;
       margin-left: 0px;
       margin-top:-2.1rem;
    }
}

.list-no-bullet {
  list-style: none;
}

.list-no-bullet li {
  margin-left: 0px;
  padding-left: 0px;
}

.nav-link {
  padding:1.3125rem 0rem;
}

/* Sticky footer */
html {
  height:         100%;
  box-sizing:     border-box;
}

*,
*:before,
*:after {
  box-sizing:     inherit;
}

body {
  position:       relative;
  margin:         0;
  padding-top:    4.20rem; 
  padding-bottom: 37rem; 
  min-height:     100%;
}

@media screen and (max-width: 767px) {
    body {
	padding-top: 2rem;
      	padding-bottom: 80rem; 
    }
}

.alert p {
  margin-bottom: 0px;
}

.footer-bottom {
  position:       absolute;
  right:          0;
  bottom:         0;
  left:           0;
  padding:        1rem;
}
/* Sticky footer - END */

.footer-logo-1 {
  height: 5rem; 
  width:  auto;
}

.footer-logo-2 {
  max-height: 4rem;
  margin: auto;
  /*width:  auto;*/
}

.atcha {
  margin:auto;
}

/* Override theme - body */
body h1 {
  color: black;
}

body h2 {
  margin-top:3rem;
  margin-bottom:2rem;
}

body h5 {
  margin-top:2rem;
}

body .text-black {
  color: black;
}

.iframe-map-container {
  height:30vh;
  width: 100%;
}

.iframe-map-container-2 {
  height:40vh;
  width: 100%;
}

.badge-nav-hover-warning:hover {
  background-color: white;
  color:#DD5600;
}

.badge-nav-hover-danger:hover {
  background-color: white;
  color:#C71C22;
}

/* Override theme - badge */
.badge {
  display: inline-block;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1rem;
}

.txt-white {
    color:               white;
}


/* CARD SETTINGS */
.img {
    position:            relative;
    float:               left;
    width:               100%;
    min-height:          30vh;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    background-color:    #2FA4E7;
}

.portfolio-item {
  margin-bottom: 30px;
}


.cursor:hover {
  cursor: pointer;
}

.card-list-hover:hover {
    /*border:1px solid black;*/
    /*border:1px solid #DD5600;*/
    cursor: pointer;
    border:1px solid #2FA4E7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-list-hover:hover .img {
  -webkit-filter: brightness(115%); 
  filter: brightness(115%);
}

.card-list-hover:hover img {
  -webkit-filter: brightness(115%); 
  filter: brightness(115%);
}

.card-list .card-header {
  text-align: center;
  border:0px;
  background-color: white;
  color:#343a40;
  padding: 1rem 1rem;
}

.card-list .card-body {
  padding: 0rem 1rem 1rem 1rem;
}

.card-list .card-text {
  text-align: center;
}

.card-list .card-footer {
  margin: auto;
  padding-bottom: 1rem;
  background-color: white;
  border:0px;
}

.img-doc {
    position:            relative;
    float:               left;
    width:               100%;
    min-height:          6rem;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     contain;
    background-color:    none;
}

/*CARD SETTINGS - END */


.img-2 {
    position:            relative;
    /*float:               left;*/
    /*width:               100%;*/
    /*min-height:          30vh;*/
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    background-color:    #2FA4E7;
}

.height-max-1 {
  max-height: 25rem;
}


.img-tumbnail-event {
    height:           15rem;
    float:            left;
    max-width:        100%;
}

.card-header, .card-footer {
    background-color:   rgba(9, 7, 244, 0.03);
}

.center {
    text-align:       center; 
    position:         relative;
    top:              50%;
    left:             50%;
    transform:        translate(-50%, -50%);
}

.header {
    height:           20vh;
    overflow:         hidden;
    background-size:  cover;
    background-color: #2FA4E7;
}

.header-2 {
    height:           30vh;
    overflow:         hidden;
    background-size:  cover;
    background-color: #2FA4E7;
}


.nounderline:hover {
  text-decoration:    none !important;
}

.svg-mini-05 {
  height:             1rem;
  width:              1rem;
}

.svg-mini-1 {
  height:             1.5rem;
  width:              1.5rem;
}

.svg-mini-2 {
  height:             2rem;
  width:              2rem;
}

.svg-white {
  fill:               white;
}

.svg-blue {
  fill:               #7dccfc;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: 1rem 1rem 1rem 1rem;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip .tooltiptext-navbar {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: 1rem 1rem 1rem 1rem;
    top: 100%;
    left: 50%; 
    /*margin-left: -60px;*/
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext-navbar {
    visibility: visible;
}


.table-text {
  padding: 0rem 1.5rem 1.5rem 0rem;
  vertical-align: top;
}

.borderless td, .borderless th {
    border: none;
}

.anchor {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  z-index: -1;
  top: -11rem;
  left: 0;
  visibility: hidden;
}

/* E-MAIL */

.rev { 
  unicode-bidi: bidi-override; 
  direction: rtl; 
}

.revnull {
  display:none;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* E-MAIL - END */

/* FILTER - TOGGLE */
.switch {
  position: relative;
  display: inline-block;
  /*height: 34px;*/
  height: 2rem;
  /*width: 180px;*/
  width: 18rem;
  padding-top: 0.25rem;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  /*height: 26px;*/
  height: 1.53rem;
  /*width: 26px;*/
  width: 1.53rem;
  left: 0.235rem;
  bottom: 0.235rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*background-color: #2196F3;*/
}

input:focus + .slider {
  /*box-shadow: 0 0 1px #2196F3;*/
}

input:checked + .slider:before {
  /*-webkit-transform: translateX(146px);*/
  /*-ms-transform: translateX(146px);*/
  /*transform: translateX(146px);*/
  -webkit-transform: translateX(16rem);
  -ms-transform: translateX(16rem);
  transform: translateX(16rem);
}

/* Rounded sliders */
.slider.round {
  /*border-radius: 34px;*/
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.label-round {
  border-radius: 2rem;
}

.bg-filter-on {
 background-color: #13b0ec;
 color:white;
}

.bg-filter-off {
 background-color: #9e9e9e;
 color:white;
 /*text-decoration: line-through;*/
}

/* FILTER - TOGGLE - END */
