{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

    <!-- Page Content -->
    <div class="container">
        
        <div class="row">
              
            </div>
            <!-- Content Column -->
            <div class="col-md-12">
            
                <!-- Go back button -->
                <button class="btn btn-outline-danger mt-5 text-uppercase" onclick="goBack()">Retour</button>
                
                <!-- Image -->
                <div class="row m-0 mt-3">    
                        <div class="img rounded" style="background-image:url('{{ MEDIA_URL }}{{ animation.image }}')"></div>
                </div>
                
                <hr>
                
                <!-- Info badges -->
                <div class="text-center">
                    <span class="m-3 text-uppercase badge badge-pill badge-success">{% if animation.new %} Nouveau {% endif %}</span>
                    <span class="m-3 text-uppercase badge badge-pill badge-info">{% if animation.disabled_friendly %} Accessible Handicap {% endif %}</span>
                    <span class="m-3 text-uppercase badge badge-pill badge-primary">{% if animation.flash is not None %}{{ animation.flash }}{% else %}{% endif %}</span>
                    <span class="m-3 text-uppercase badge badge-pill badge-danger">{% if animation.available_in_both_cities %} Dispo à Mauguio ET à Carnon{% endif %}</span>
                </div>
                
                <!-- Animation description -->
                <h1 class="mt-4 mb-3 text-center">{{ animation.name }}</h1>

                <h4 class="text-center text-black"> avec </h4>

                <h4 class="mt-4 mb-3 text-center">
                    {% for h in hosts %}
                        {% if forloop.first %}{% elif forloop.last %} & {% else %}, {% endif %}<a href="{% url 'host' h.id %}"><span class="text-capitalize">{{ h.firstname }}</span> <span class="text-uppercase">{{ h.lastname }}</span></a>
                    {% endfor %}
                </h4>
                
                <p class="mt-4 mb-3 text-center">{{ animation.period }}</p>
                
                <p class="mt-4 mb-3 lead text-center">{{ animation.description }}</p>

                <!-- Table -->
                <table class="table table-primary table-hover text-center mt-5 mb-5">
                    
                    <thead>

                        <tr class="bg-danger text-white">
                            <th scope="col">Nom</th>
                            <th scope="col">Age</th>
                            <th scope="col">Niveau</th>
                            <th scope="col">Jour</th>
                            <th scope="col">Horaires</th>
                            <th scope="col">Anim.</th>
                            <th scope="col">Salle</th>
                            <th scope="col">
                                <span class="text-nowrap tooltip">MC
                                    <span class="tooltiptext">Tarifs pour les résidents de Mauguio-Carnon</span>
                                    <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                        <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                    </svg>
                                </span>
                            </th>
                            <th scope="col">
                                <span class="text-nowrap tooltip">Hors MC
                                    <span class="tooltiptext">Tarifs pour les résidents hors commune</span>
                                    <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                        <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                    </svg>
                                </span>
                            </th>
                            {% if user.is_superuser %}
                                <th>Inscription</th>
                                <th>Admin</th>
                            {% endif %}
                        </tr>
                        
                    </thead>
                    
                    <tbody>
                    
                        {% for slot in slots %}
                        
                            <tr class={% if slot.room.venue.city.id == 2 %}"table-warning"{% endif %}>
                                
                                <!--Badge - New -->
                                <!--<td>{% if slot.new %}<span class="badge badge-pill badge-success">N</span>{% endif %}</td>        -->
                                
                                <!-- Slot name-->
                                <td>{% if slot.name|length > 0%}{{ slot.name }}{% else%}-{% endif %}</td>
                                
                                <!-- Age -->
                                <td>
                                    <span class="text-nowrap">
                                    {% if slot.age_group.age_min == slot.age_group.age_max %}
                                        {{ slot.age_group.age_min }}
                                    {% else %}
                                        {{ slot.age_group.age_min }} / {{ slot.age_group.age_max }}
                                    {% endif %}
                                    </span>
                                </td>
                                
                                <!-- Level -->
                                <td>{% if slot.level is not None %}{{ slot.level }}{% else%}-{% endif %}</td>
                                
                                <!-- Day -->
                                <td>{{ slot.day }}{% if slot.notes|length > 0 %} *{% endif %}</td>
                                
                                <!-- Hours -->
                                <td>
                                    <span class="text-nowrap">{{ slot.time_start|time:"H:i"}} /</span>
                                    <span class="text-nowrap">{{ slot.time_end|time:"H:i"}}</span>
                                </td>
                                
                                <!-- Hosts-->
                                <td>
                                    {% for host in slot.host.all %}
                                           <span class="text-uppercase"> {{ host.initials }}</span>
                                    {% endfor %}
                                </td>
                                
                                <!-- Venue - Room -->
                                <td><a href="{% url 'venue' slot.room.venue.name %}">{{ slot.room.venue.name }}<br>{% if slot.room.room_nb is None %}{% else %}{{ slot.room.room_nb }}{% endif %}{% if slot.room.room_nb and slot.room.room_name  %} - {% endif%}{% if slot.room.room_name is None %}{% else %}{{ slot.room.room_name }}{% endif %}</a></td>
                                
                                <!-- Rate - Residents -->
                                <td>

                                    <span class="text-nowrap tooltip">
                                        {% if slot.rate_resident_1 is None %}{% else %}{{ slot.rate_resident_1 }} € {% endif %}<svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32"><path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/></svg>
                                        <span class="tooltiptext">- Tarif 1 MC -<br>{% if slot.rate_resident_1 is None and slot.rate_resident_1_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_resident_1 is not None and slot.rate_resident_1_name is None %}{% else %}{{ slot.rate_resident_1_name }}{% endif %}</span>
                                    </span>

                                    <br>

                                    <span class="text-nowrap tooltip">
                                        {% if slot.rate_resident_2 is None %}{% else %}{{ slot.rate_resident_2 }} € <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32"><path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/></svg>{% endif %}
                                        <span class="tooltiptext">- Tarif 2 MC -<br>{% if slot.rate_resident_2 is None and slot.rate_resident_2_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_resident_1 is not None and slot.rate_resident_2_name is None %}{{ two_rates_no_info_on_second_rate }}{% else %}{{ slot.rate_resident_2_name }}{% endif %}</span>
                                    </span>

                                </td>
                                
                                <!-- Rate - Non Residents -->
                                <td>

                                    <span class="text-nowrap tooltip">
                                        {% if slot.rate_non_resident_1 is None %}{% else %}{{ slot.rate_non_resident_1 }} € {% endif %}<svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32"><path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/></svg>
                                        <span class="tooltiptext">- Tarif 1 Hors MC -<br>{% if slot.rate_resident_1 is None and slot.rate_non_resident_1_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_non_resident_1 is not None and slot.rate_non_resident_1_name is None %}{% else %}{{ slot.rate_non_resident_1_name }}{% endif %}</span>
                                    </span>

                                    <br>

                                    <span class="text-nowrap tooltip">
                                        {% if slot.rate_non_resident_2 is None %}{% else %}{{ slot.rate_non_resident_2 }} € <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32"><path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/></svg>{% endif %}
                                        <span class="tooltiptext">- Tarif 2 Hors MC -<br>{% if slot.rate_non_resident_2 is None and slot.rate_non_resident_2_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_non_resident_1 is not None and slot.rate_non_resident_2_name is None %}{{ two_rates_no_info_on_second_rate }}{% else %}{{ slot.rate_non_resident_2_name }}{% endif %}</span>
                                    </span>

                                </td>

                                {% if user.is_superuser %}
                                    <!-- Registration - Online paymnet - Test - Visible only for logged-in users -->
                                    <td>
                                        <a href="{% url 'a_animation_slot_registration' animation_type animation.name animation.id slot.id %}">
                                            <button id="register_button" type="button" class="nounderline btn btn-info text-uppercase">S'inscrire</button>
                                        </a>
                                    </td>
                                {% endif %}
                                
                                <!-- Admin -->
                                {% if user.is_superuser %}
                                    <td><a href="{% url 'admin_edit_activity' slot.id %}" target="_blank">Modifier</a></td>
                                {% endif %}

                            </tr>
                            
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
                
                
                <!-- Notes - Animation -->
                <p class="mt-4 mb-3"><strong>Informations :</strong></p>
                <p>{{ animation.notes|linebreaks }}</p>

                <!-- Notes - For each slot -->
                <table class="table-text">
                    {% for slot in slots %}
                        <tr>
                            {% if slot.description|length > 0 or slot.notes|length > 0 %}
                                <td class="table-text"><i class="text-nowrap">
                                    {% if slot.name|length > 0 %}{{ slot.name }}{% else %}{{slot.day}} - {{slot.time_start}} / {{ slot.time_end }}{% endif %} :</i></td>
                                <td>{% if slot.description|length > 0 %}{{ slot.description|linebreaks }}<br>{% endif %}{{ slot.notes|linebreaks }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

                <!-- Registration information -->
                <a href="{% url 'rate_and_registration_activities' %}">
                    <button id="register_button" type="button" class="nounderline btn btn-outline-danger btn-lg btn-block mt-5 text-uppercase">Comment s'inscrire ?</button>
                </a>
                 
            </div>
                
        </div>

    </div>
            
{% endblock %}