{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Title -->
        <div class="header rounded mt-4 mb-3" style="background-image: url({{ MEDIA_URL }}{{ activity.image }})">
            <h1 class="txt-white center text-uppercase"> {{ activity.title }} </h1>
        </div>

        <!-- Description -->
        <hr>

        <div class="col-md-10 offset-md-1 col-md-8 p-2 text-center text-muted lead">
            <p class="">{{ activity.description|linebreaks }}</p>
        </div>

        <hr>

        <!-- Data -->
        <div class="row">

            {% for animation_type in animations_types_activities %}
                <div class="col-lg-4 mb-4">

                    <div class="card card-list card-list-hover h-100" onclick="goTo('{% url 'a_list_of_animations' animation_type.animation_type %}')" >

                        <div class="row m-0">
                            <div class="col-md-12 img" style="background-image:url('{{ MEDIA_URL }}{{ animation_type.image }}')"></div>
                        </div>

                        <h4 class="card-header text-capitalize"> {{ animation_type.animation_type }}</h4>

                    </div>

                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}