{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!-- Page Content -->
<div class="container">

    <!-- Content Column -->
    <div class="col-md-12">
        
        <div class="row my-5">
            <div class="col-md-12 text-center">
                <h1>Rechercher une activité</h1>
            </div>
        </div>

        <div class="row mt-3">

            <div class="col-md-12 text-center">

                <h4>Ville(s)</h4>

                {% for c in cities %}
                    <label id="FilterToggle_city_{{ c|lower }}_label" class="switch label-round bg-filter-off text-center text-uppercase">
                        <input type="checkbox" id="FilterToggle_city_{{ c|lower }}_input" onclick="FilterActivities('city_{{ c|lower }}', '{{ c|lower }}','city')" >
                        <span class="slider round"></span> {{ c }}
                    </label>
                {% endfor %}

            </div>

        </div>

        <div class="row mt-3">

            <div class="col-md-12 text-center">

                <h4>Jour(s)</h4>

                {% for d in days %}
                    <label id="FilterToggle_day_{{ d|lower }}_label" class="switch label-round bg-filter-off text-center text-uppercase">
                          <input type="checkbox" id="FilterToggle_day_{{ d|lower }}_input" onclick="FilterActivities('day_{{ d|lower }}', '{{ d|lower }}', 'day')" >
                          <span class="slider round"></span> {{ d }}
                        </label>
                {% endfor %}

            </div>

        </div>

        <div class="row mt-3">

            <div class="col-md-12 text-center">

                <h4>Moment(s) de la journée</h4>
                <!-- Time filters -->

                <!-- Morning -->
                <label id="FilterToggle_time_morning_label" class="switch label-round bg-filter-off text-center text-uppercase">
                          <input type="checkbox" id="FilterToggle_time_morning_input" onclick="FilterActivities('time_morning', '8','time')" >
                          <span class="slider round"></span> Matin
                        </label>

                <!-- Lunch time -->
                <label id="FilterToggle_time_lunch_label" class="switch label-round bg-filter-off text-center text-uppercase">
                          <input type="checkbox" id="FilterToggle_time_lunch_input" onclick="FilterActivities('time_lunch', '11','time')" >
                          <span class="slider round"></span> Midi
                        </label>

                <!-- Afternoon -->
                <label id="FilterToggle_time_afternoon_label" class="switch label-round bg-filter-off text-center text-uppercase">
                          <input type="checkbox" id="FilterToggle_time_afternoon_input" onclick="FilterActivities('time_afternoon', '13','time')" >
                          <span class="slider round"></span> Après-Midi
                        </label>

                <!-- Evening -->
                <label id="FilterToggle_time_evening_label" class="switch label-round bg-filter-off text-center text-uppercase">
                          <input type="checkbox" id="FilterToggle_time_evening_input" onclick="FilterActivities('time_evening', '17','time')" >
                          <span class="slider round"></span> Soirée
                        </label>

            </div>

        </div>

        <div class="row mt-3 mb-5">

            <div class="col-md-12 text-center">

                <h4>Type(s) d'animation</h4>

                {% for type in animation_types %}
                    <label id="FilterToggle_type_{{ type|lower|cut:" " }}_label" class="switch label-round bg-filter-off text-center text-uppercase">
                        <input type="checkbox" id="FilterToggle_type_{{ type|lower|cut:" " }}_input" onclick="FilterActivities('type_{{ type|lower|cut:" " }}', '{{ type|lower|cut:" " }}','animation_type')" >
                        <span class="slider round"></span> {{ type }}
                    </label>
                {% endfor %}

            </div>
        </div>

        <hr>
        
        <div class="row mt-3">
            
            <div class="col-md-12">

                {% regroup activities by animation.animation_type as animation_by_type_list %} 
                
                    {% for animation_type in animation_by_type_list %}
                    
                        <div class="row no-gutter filter-initialisation" data-filter-animation_type="{{ animation_type.grouper|lower|cut:" " }}">
                        
                            <div class="col-md-12">
                                
                                <div class="wrapper_type">
                                    <h1 class="mt-4 mb-3">{{ animation_type.grouper }}</h1>
                                    
                                    {% regroup animation_type.list by animation as animations_list %} 
                                        
                                    {% for animation in animations_list %}
                                        
                                        <!-- Wrapper -->
                                        <div class="wrapper_animation">

                                            <h2 class="mt-4 mb-3">{{ animation.grouper }}</h2>
                                                
                                            <!-- Table -->
                                            <table class="table table-primary table-hover text-center mt-5 mb-5">
                                
                                                    <thead>
                                
                                                        <tr class="bg-danger text-white">
                                                            <th scope="col">Nom</th>
                                                            <th scope="col">Age</th>
                                                            <th scope="col">Niveau</th>
                                                            <th scope="col">Jour</th>
                                                            <th scope="col">Horaires</th>
                                                            <th scope="col">Anim.</th>
                                                            <th scope="col">Salle</th>
                                                            <th scope="col">
                                                                <span class="text-nowrap tooltip">MC
                                                                    <span class="tooltiptext">Tarifs pour les résidents de Mauguio-Carnon</span>
                                                                    <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                                                        <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                                                    </svg>
                                                                </span>
                                                            </th>
                                                            <th scope="col">
                                                                <span class="text-nowrap tooltip">Hors MC
                                                                    <span class="tooltiptext">Tarifs pour les résidents hors commune</span>
                                                                    <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                                                        <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                                                    </svg>
                                                                </span>
                                                            </th>
                                                            {% if user.is_superuser %}
                                                                <th>Admin</th>
                                                            {% endif %}
                                                        </tr>
                                
                                                    </thead>

                                                    <tbody>
                                
                                                        {% for slot in animation.list %}
                                
                                                            <tr data-filter-activated="" data-filter-day="{{ slot.day|lower }} {{ slot.animation.animation_type|lower|cut:" " }}" data-filter-city="{{ slot.room.venue.city|lower }}" data-filter-time-start="{{ slot.time_start|time:"H" }}" class="filter-initialisation {% if slot.room.venue.city.id == 2 %} table-warning{% endif %}">

                                                                <!--Badge - New -->
                                                                <!--<td>{% if slot.new %}<span class="badge badge-pill badge-success">N</span>{% endif %}</td>        -->

                                                                <!-- Slot name-->
                                                                <td>{% if slot.name|length > 0%}{{ slot.name }}{% else%}-{% endif %}</td>

                                                                <!-- Age -->
                                                                <td>
                                                                    <span class="text-nowrap">
                                                                                        {% if slot.age_group.age_min == slot.age_group.age_max %}
                                                                                            {{ slot.age_group.age_min }}
                                                                                        {% else %}
                                                                                            {{ slot.age_group.age_min }} / {{ slot.age_group.age_max }}
                                                                                        {% endif %}
                                                                    </span>
                                                                </td>

                                                                <!-- Level -->
                                                                <td>{% if slot.level is not None %}{{ slot.level }}{% else%}-{% endif %}</td>

                                                                <!-- Day -->
                                                                <td>{{ slot.day }}{% if slot.notes|length > 0 %} *{% endif %}</td>

                                                                <!-- Hours -->
                                                                <td>
                                                                    <span class="text-nowrap">{{ slot.time_start|time:"H:i"}} /</span>
                                                                    <span class="text-nowrap">{{ slot.time_end  |time:"H:i"}}</span>
                                                                </td>

                                                                <!-- Hosts-->
                                                                <td>
                                                                    {% for host in slot.host.all %}
                                                                        <span class="text-uppercase"> {{ host.initials }}</span>
                                                                    {% endfor %}
                                                                </td>

                                                                <!-- Venue - Room -->
                                                                <td>
                                                                    <a href="{% url 'venue' slot.room.venue.name %}">{{ slot.room.venue.name }}<br>{% if slot.room.room_nb is None %}{% else %}{{ slot.room.room_nb }}{% endif %}{% if slot.room.room_nb and slot.room.room_name  %} - {% endif%}{% if slot.room.room_name is None %}{% else %}{{ slot.room.room_name }}{% endif %}</a>
                                                                </td>

                                                                <!-- Rate - Residents -->
                                                                <td>

                                                                    <span class="text-nowrap tooltip">

                                                                        {% if slot.rate_resident_1 is None %}{% else %}{{ slot.rate_resident_1 }} € {% endif %}
                                                                        <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                                                            <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                                                        </svg>
                                                                        <span class="tooltiptext">- Tarif 1 MC -<br>{% if slot.rate_resident_1 is None and slot.rate_resident_1_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_resident_1 is not None and slot.rate_resident_1_name is None %}{% else %}{{ slot.rate_resident_1_name }}{% endif %}</span>

                                                                    </span>

                                                                    <br>

                                                                    <span class="text-nowrap tooltip">
                                                                        {% if slot.rate_resident_2 is None %}{% else %}{{ slot.rate_resident_2 }} €
                                                                            <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                                                                <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                                                            </svg>
                                                                        {% endif %}
                                                                        <span class="tooltiptext">- Tarif 2 MC -<br>{% if slot.rate_resident_2 is None and slot.rate_resident_2_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_resident_1 is not None and slot.rate_resident_2_name is None %}{{ two_rates_no_info_on_second_rate }}{% else %}{{ slot.rate_resident_2_name }}{% endif %}</span>
                                                                    </span>

                                                                </td>

                                                                <!-- Rate - Non Residents -->
                                                                <td>

                                                                    <span class="text-nowrap tooltip">
                                                                        {% if slot.rate_non_resident_1 is None %}{% else %}{{ slot.rate_non_resident_1 }} € {% endif %}
                                                                        <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                                                            <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                                                        </svg>
                                                                        <span class="tooltiptext">- Tarif 1 Hors MC -<br>{% if slot.rate_resident_1 is None and slot.rate_non_resident_1_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_non_resident_1 is not None and slot.rate_non_resident_1_name is None %}{% else %}{{ slot.rate_non_resident_1_name }}{% endif %}</span>
                                                                    </span>

                                                                    <br>

                                                                    <span class="text-nowrap tooltip">
                                                                        {% if slot.rate_non_resident_2 is None %}{% else %}{{ slot.rate_non_resident_2 }} €
                                                                            <svg class="svg-mini-05 svg-blue" data-name="Layer 1" viewBox="0 0 32 32">
                                                                                <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
                                                                            </svg>
                                                                        {% endif %}
                                                                        <span class="tooltiptext">- Tarif 2 Hors MC -<br>{% if slot.rate_non_resident_2 is None and slot.rate_non_resident_2_name is None %}{{ unmentionned_rate_text }}{% elif slot.rate_non_resident_1 is not None and slot.rate_non_resident_2_name is None %}{{ two_rates_no_info_on_second_rate }}{% else %}{{ slot.rate_non_resident_2_name }}{% endif %}</span>
                                                                    </span>

                                                                </td>

                                                                <!-- Admin -->
                                                                {% if user.is_superuser %}
                                                                    <td><a href="{% url 'admin_edit_activity' slot.id %}" target="_blank">Modifier</a></td>
                                                                {% endif %}
                                                            </tr>
                                
                                                        {% endfor %}
                                
                                                    </tbody>
                                
                                                </table>
                                    
                                        </div>
                                    {% endfor %} 
                                </div>
                            </div>
                            
                        </div>
                
                {% endfor %}

            </div>

        </div>
    
    </div>

{% endblock %}
