{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!-- Page Content -->
<div class="container">

    <!-- Mission description -->

    <h1 class="mt-4 mb-3">L'Association<small></small></h1>

    <a class="anchor" id="mission"></a>

    <div class="row">

        <div class="col-lg-6 text-center">
            <img class="img-fluid rounded mb-4 height-max-1" src="{{ STATIC_URL }}logo/logo-mjc.jpg" alt="">
        </div>

        <div class="col-lg-6">

            <h2 class="mt-0 mb-3">Qu'est-ce qu'une MJC ?</h2>

            <p>Une Maison des Jeunes et de la Culture est une association <strong>ouverte à tous quel
                que soit l’âge ou origine de chacun</strong>.</p>

            <p>Elle s’inscrit dans le cadre de l’EDUCATION POPULAIRE qui reconnait à chacun la volonté
               et la capacité d’évoluer, d’échanger et d’accéder aux activités sportives et culturelles.</p>

            <p>Elle propose aussi des moments de partage à tous les âges de la vie afin de s'épanouir,
               de partager une vie de groupe et de trouver une place dans la société.</p>

            <p>Les MJC ont été créées en 1948, s’appuyant sur les valeurs de l’EDUCATION POPULAIRE
               développées depuis la Révolution Française (Condorcert) et la Résistance, avec pour
               objectif la responsabilisation et l’autonomie des citoyens.</p>

        </div>

    </div>

    <!-- Team Members -->

    <h2 class="mt-4 mb-3">L'Equipe</h2>

    <a class="anchor" id="team"></a>

    <!-- Image -->
    <img class="img-fluid rounded mb-4" src="{{ STATIC_URL }}images/equipe.jpg" alt="">
    <p><strong>Le Conseil d’Administration de la MJC</strong></p>
    <p>Le 4 juillet 2019, le Conseil d’Administration, presque au complet, a tenu sa dernière séance de la saison et
        préparé la rentrée 2019-2020. <br>A bientôt !</p>

    <!-- Documents à destinations des membres -->
    <h2 class="mt-4 mb-3">Documents à destination des adhérents</h2>

    <a class="anchor" id="documents"></a>

    <div class="row">

        <div class="col-md">
            <p>Vous trouverez ci-dessous les documents tels que les comptes-rendu d'AG, les rapports d'activités et autres documents similaires.</p>
        </div>

    </div>


    <div class="row">

        {% for d in documents %}

        <!-- Document Y -->
        <div class="col-md-3 mb-4">

            <div class="card card-list-hover h-100 text-center" onclick="goTo('{{ MEDIA_URL }}{{ d.file }}')">

                <div class="row m-0 p-2">
                    <div class="img-doc rounded-top" style="background-image:url('{{ STATIC_URL }}images/doc.png')"></div>
                </div>

                <div class="card-footer">
                    <p class="card-text">{{ d.file_name }}</p>
                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>
<!-- /.container -->

{% endblock %}