{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!-- Page Content -->
<div class="container">

    <a class="anchor" id="contact"></a>

    <div class="col-md-6 offset-md-3 mt-5">
        <img class="img-fluid rounded mb-4" src="https://xa-e-commerce-app.s3.amazonaws.com/static/logo/logo-mjc.jpg"
             alt="">
    </div>

    <!-- Contact -->

    <h2 class="mt-5 mb-3">Nous Contacter</h2>

    <div class="row">

        <div class="col-md-12">

            <p class="">Si vous avez des suggestions, ou des questions concernant les activités, stages et
                évènements, n'hésitez pas à nous contacter par téléphone ou par courriel.</p>

            <div class="row">

                <!-- Mauguio -->
                <div class="col-md-6">

                    <div class="row">

                        <!-- Coordonnées -->
                        <table class="table table-hover borderless ml-3">

                            <tr>
                                <th></th>
                                <th>MJC Mauguio</th>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" enable-background="new 0 0 139 139" id="phone"
                                         viewBox="0 0 139 139">
                                        <path d="M67.317,81.952c-9.284-7.634-15.483-17.054-18.742-22.414l-2.431-4.583c0.85-0.912,7.332-7.853,10.141-11.619  c3.53-4.729-1.588-9-1.588-9S40.296,19.933,37.014,17.076c-3.282-2.861-7.06-1.272-7.06-1.272  c-6.898,4.457-14.049,8.332-14.478,26.968C15.46,60.22,28.705,78.216,43.028,92.148c14.346,15.734,34.043,31.504,53.086,31.486  c18.634-0.425,22.508-7.575,26.965-14.473c0,0,1.59-3.775-1.268-7.06c-2.86-3.284-17.265-17.688-17.265-17.688  s-4.268-5.119-8.998-1.586c-3.525,2.635-9.855,8.496-11.38,9.917C84.171,92.749,73.582,87.104,67.317,81.952z"/>
                                    </svg>
                                </td>
                                <td>04.67.29.34.99 (voir horaires ci-dessous)</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" id="email" style="enable-background:new 0 0 16 16;"
                                         viewBox="0 0 16 16">
                                        <path d="M8,10c-0.266,0-0.5-0.094-1-0.336L0,6v7c0,0.55,0.45,1,1,1h14c0.55,0,1-0.45,1-1V6L9,9.664C8.5,9.906,8.266,10,8,10z M15,2  H1C0.45,2,0,2.45,0,3v0.758l8,4.205l8-4.205V3C16,2.45,15.55,2,15,2z"/>
                                    </svg>
                                </td>
                                <td>secretariat - à - mjcmauguiocarnon - point - fr</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" viewBox="0 0 757 570">
                                        <path d="M304 425c14,0 25,11 25,24 0,14 -11,25 -25,25 -13,0 -24,-11 -24,-25 0,-13 11,-24 24,-24zm-267 -95l-37 -50 383 -280 374 275 -37 50 -73 -53 0 298 -298 0 0 -282 -173 0 0 282 -57 0 0 -300 -82 60z"/>
                                    </svg>
                                </td>
                                <td>527 Avenue du 8 mai 1945, 34130 Mauguio</td>
                            </tr>

                        </table>

                    </div>

                </div>

                <!-- Carnon -->
                <div class="col-md-6">

                    <div class="row">

                        <!-- Coordonnées -->
                        <table class="table table-hover borderless ml-3">

                            <tr>
                                <th></th>
                                <th>MJC Annexe de Carnon</th>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" enable-background="new 0 0 139 139" id="phone"
                                         viewBox="0 0 139 139">
                                        <path d="M67.317,81.952c-9.284-7.634-15.483-17.054-18.742-22.414l-2.431-4.583c0.85-0.912,7.332-7.853,10.141-11.619  c3.53-4.729-1.588-9-1.588-9S40.296,19.933,37.014,17.076c-3.282-2.861-7.06-1.272-7.06-1.272  c-6.898,4.457-14.049,8.332-14.478,26.968C15.46,60.22,28.705,78.216,43.028,92.148c14.346,15.734,34.043,31.504,53.086,31.486  c18.634-0.425,22.508-7.575,26.965-14.473c0,0,1.59-3.775-1.268-7.06c-2.86-3.284-17.265-17.688-17.265-17.688  s-4.268-5.119-8.998-1.586c-3.525,2.635-9.855,8.496-11.38,9.917C84.171,92.749,73.582,87.104,67.317,81.952z"/>
                                    </svg>
                                </td>
                                <td>04 67 68 25 51 – 06 40 05 01 03 (voir horaires ci-dessous)</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" id="email" style="enable-background:new 0 0 16 16;"
                                         viewBox="0 0 16 16">
                                        <path d="M8,10c-0.266,0-0.5-0.094-1-0.336L0,6v7c0,0.55,0.45,1,1,1h14c0.55,0,1-0.45,1-1V6L9,9.664C8.5,9.906,8.266,10,8,10z M15,2  H1C0.45,2,0,2.45,0,3v0.758l8,4.205l8-4.205V3C16,2.45,15.55,2,15,2z"/>
                                    </svg>
                                </td>
                                <td>direction-carnon - à - mjcmauguiocarnon - point - fr</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" viewBox="0 0 757 570">
                                        <path class="fil0" d="M304 425c14,0 25,11 25,24 0,14 -11,25 -25,25 -13,0 -24,-11 -24,-25 0,-13 11,-24 24,-24zm-267 -95l-37 -50 383 -280 374 275 -37 50 -73 -53 0 298 -298 0 0 -282 -173 0 0 282 -57 0 0 -300 -82 60z"/>
                                    </svg>
                                </td>
                                <td>Place des Cistes, 34280 Carnon</td>
                            </tr>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- Opening hours -->

    <h2 class="mt-4 mb-3">Nos Horaires</h2>

    <a class="anchor" id="openinghours"></a>

    <div class="row">

        <div class="col-md-12">

            <p class="">L'accueil de la MJC est ouverte aux horaires ci-dessous.</p>

            <p> Ces horaires ne sont pas liés aux horaires des activités ou ateliers
                (se référer à la page de chacune pour ceux-ci).</p>

            <p class="text-danger">ATTENTION : Les
                <a href="{% url 'rate_and_registration_activities' %}#horairesinscriptions">horaires d'inscription</a>
                sont différents !</p>

            <div class="row">

                <!-- All year round but holidays -->
                <div class="col-md-6">

                    <div class="row">

                        <!-- Horaires -->
                        <table class="table table-hover borderless ml-3">

                            <tr>
                                <th></th>
                                <th colspan="3">MJC Mauguio - hors périodes de vacances scolaires</th>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                        <g>
                                            <g>
                                                <path clip-rule="evenodd"
                                                      d="M12,0C5.375,0,0.003,5.373,0.003,12c0,6.627,5.372,12,11.997,12    c6.626,0,11.997-5.373,11.997-12C23.997,5.373,18.626,0,12,0z M16.412,16.709l-0.35,0.35c-0.291,0.291-0.782,0.305-1.088,0.029    l-4.52-3.955c-0.308-0.275-0.541-0.838-0.521-1.25l0.419-7.134C10.374,4.336,10.729,4,11.142,4h0.493    c0.413,0,0.767,0.336,0.787,0.748l0.343,5.934c0.021,0.413,0.262,1,0.535,1.309l3.144,3.628    C16.717,15.928,16.704,16.418,16.412,16.709z"
                                                      fill-rule="evenodd"/>
                                            </g>
                                        </g>
                                    </svg>
                                </td>
                                <td>Lundi & Mardi</td>
                                <td>Fermé le matin</td>
                                <td>16h30 - 19h30</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td></td>
                                <td>Mercredi</td>
                                <td>9h00 - 12h00</td>
                                <td>13h30 - 19h30</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td></td>
                                <td>Jeudi & Vendredi</td>
                                <td>9h00 - 12h00</td>
                                <td>16h30 - 19h30</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td></td>
                                <td>Samedi</td>
                                <td>9h00 - 12h00</td>
                                <td>Fermé l'après-midi</td>
                            </tr>

                        </table>

                    </div>

                </div>

                <!-- Carnon -->
                <div class="col-md-6">

                    <div class="row">

                        <!-- Horaires -->
                        <table class="table table-hover borderless ml-3">

                            <tr>
                                <th></th>
                                <th colspan="3">MJC Annexe de Carnon</th>
                            </tr>

                            <tr class="border-left border-dark">
                                <td class="border-left border-dark">
                                    <svg class="svg-mini-1 mr-2" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                        <g><g>
                                            <path clip-rule="evenodd"
                                                  d="M12,0C5.375,0,0.003,5.373,0.003,12c0,6.627,5.372,12,11.997,12    c6.626,0,11.997-5.373,11.997-12C23.997,5.373,18.626,0,12,0z M16.412,16.709l-0.35,0.35c-0.291,0.291-0.782,0.305-1.088,0.029    l-4.52-3.955c-0.308-0.275-0.541-0.838-0.521-1.25l0.419-7.134C10.374,4.336,10.729,4,11.142,4h0.493    c0.413,0,0.767,0.336,0.787,0.748l0.343,5.934c0.021,0.413,0.262,1,0.535,1.309l3.144,3.628    C16.717,15.928,16.704,16.418,16.412,16.709z"
                                                  fill-rule="evenodd"/>
                                        </g>
                                        </g>
                                    </svg>
                                </td>
                                <td>Lundi au Vendredi</td>
                                <td>Fermé le matin</td>
                                <td>14h00 - 18h00</td>
                            </tr>

                        </table>

                    </div>

                </div>

            </div>

            <div class="row">

                <!-- Mauguio - Holidays -->
                <div class="col-md-6">

                    <div class="row">

                        <!-- Horaires -->
                        <table class="table table-hover borderless ml-3">

                            <tr>
                                <th></th>
                                <th colspan="3">MJC Mauguio - périodes de vacances scolaires</th>
                            </tr>

                            <tr class="border-left border-dark">
                                <td>
                                    <svg class="svg-mini-1 mr-2" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                        <g>
                                        <g>
                                        <path clip-rule="evenodd"
                                              d="M12,0C5.375,0,0.003,5.373,0.003,12c0,6.627,5.372,12,11.997,12    c6.626,0,11.997-5.373,11.997-12C23.997,5.373,18.626,0,12,0z M16.412,16.709l-0.35,0.35c-0.291,0.291-0.782,0.305-1.088,0.029    l-4.52-3.955c-0.308-0.275-0.541-0.838-0.521-1.25l0.419-7.134C10.374,4.336,10.729,4,11.142,4h0.493    c0.413,0,0.767,0.336,0.787,0.748l0.343,5.934c0.021,0.413,0.262,1,0.535,1.309l3.144,3.628    C16.717,15.928,16.704,16.418,16.412,16.709z"
                                              fill-rule="evenodd"/>
                                        </g>
                                        </g>
                                    </svg>
                                </td>
                                <td>Lundi</td>
                                <td>Fermé le matin</td>
                                <td>14h00 - 18h30</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td></td>
                                <td>Mardi au Vendredi</td>
                                <td>9h00 - 12h00</td>
                                <td>14h00 - 18h30</td>
                            </tr>

                            <tr class="border-left border-dark">
                                <td></td>
                                <td>Samedi</td>
                                <td>Fermé</td>
                                <td>Fermé</td>
                            </tr>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- Location -->

    <h2 class="mt-4 mb-3">Nous Trouver </h2>

    <a class="anchor" id="findus"></a>

    <div class="row">

        <div class="col-md-12">

            <p><strong>MJC Mauguio</strong> - 527 Avenue du 8 mai 1945, 34130 Mauguio</p>

            <div class="iframe-map-container-2 mb-4">
                <iframe class="iframe-map-container-2"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.355173807559!2d4.003814515496666!3d43.619966079122506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6bb6635721305%3A0x525decd872d8de41!2sMjc+Mauguio!5e0!3m2!1sen!2sie!4v1534693459808"></iframe>
            </div>

        </div>

    </div>

    <div class="row mt-3">

        <div class="col-md-12">

            <p><strong>MJC Annexe de Carnon</strong> - Place des Cistes, 34280 Carnon</p>

            <div class="iframe-map-container-2 mb-4">
                <iframe class="iframe-map-container-2"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d722.956396193233!2d3.9751646292708043!3d43.547677498695286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6bb6850e5d379%3A0xdb26b156819c3df0!2sPlace+des+Cystes%2C+34280+Mauguio%2C+France!5e0!3m2!1sen!2sie!4v1535393335441"></iframe>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

{% endblock %}