{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-8 offset-md-2">

            <button class="btn btn-outline-danger mt-5 text-uppercase" onclick="goBack()">Retour</button>

            <h1 class="mt-5 mb-5">Adhésion, Inscription & Tarifs<small></small></h1>

            <hr>

            <p><strong>Menu</strong></p>
            <a href="#adherer"><strong>Adhérer à la MJC</strong></a><br>
            <a href="#sinscrire"><strong>S'inscrire à une activité</strong></a><br>
            <a href="#tarifs"><strong>Tarifs des activités</strong></a><br>
            <a href="#documents"><strong>Quels sont les documents nécessaires ?</strong></a><br>
            <a href="#casparticuliers"><strong>Cas particuliers</strong></a><br>
            <a href="#protection"><strong>Droit à l'image & Protection des données personnelles</strong></a>

            <hr>

            <h2>Adhérer à la MJC</h2>

            <a class="anchor" id="adherer"></a>

            <p>La carte d’adhésion annuelle couvre la saison 2018-2019. Elle est le justificatif de votre
                inscription et peut vous être demandée en cas de contrôle pendant vos cours. Ayez toujours
                votre carte sur vous !</p>

            <table class="table table-hover table-primary">

                <tr>
                    <td class="table-text"><strong>Carte
                        annuelle <span class="text-nowrap">individuelle :</span></strong></td>
                    <td class="table-text"></td>
                    <td class="table-text">20 €</td>
                </tr>

                <tr>
                    <td class="table-text" rowspan="3"><strong>Carte annuelle individuelle dans un
                        même foyer <span class="text-nowrap">fiscal :</span></strong></td>
                    <td class="table-text">1<sup>ère</sup> et 2<sup>ème</sup> cartes</td>
                    <td class="table-text">20 €
                    </td>
                </tr>

                <tr>
                    <td class="table-text">3<sup>ième</sup> carte</td>
                    <td class="table-text">10 €</td>
                </tr>

                <tr>
                    <td class="table-text">4<sup>ième</sup> carte et suivantes</td>
                    <td class="table-text">Gratuite</td>
                </tr>

                <tr>
                    <td class="table-text"><strong>Carte annuelle associative :</strong> <br>(concerne les
                        associations dans le cadre d’une convention <br> de mise à disposition d’une salle)</td>
                    <td class="table-text"></td>
                    <td class="table-text">120 €</td>
                </tr>

                <tr>
                    <td class="table-text"><strong>Carte spécial <span class="text-nowrap">stage :
                    </span></strong><br>(concerne les personnes qui ne pratiquent que des stages)</td>
                    <td class="table-text"></td>
                    <td class="table-text">9 €</td>
                </tr>

            </table>

            <h2>S'inscrire à une activité</h2>

            <a class="anchor" id="sinscrire"></a>

            <h5>Pour choisir une activité...</h5>

            <ul>

                <li class="mt-3"><strong>Toutes les activités et infos :</strong>
                    <ul>
                        <li>sur le site internet</li>
                        <li>sur la plaquette annuelle disponible à la MJC et dans plusieurs lieux de la commune</li>
                    </ul>
                </li>

                <li class="mt-3"><strong>Vous pouvez rencontrer les animateurs et assister à quelques
                    démonstrations :</strong>
                    <ul>
                        <li><strong class="text-success">« Portes Ouvertes de la MJC »</strong>, le mercredi 5
                            septembre, de 14h à 19h, à Mauguio.</li>
                        <li><strong class="text-success">« Forum des Associations »</strong>, la MJC vous renseigne et
                            présente quelques activités, samedi 8 septembre 2018, de 10h à 18h, à Carnon.</li>
                    </ul>
                </li>

                <li class="mt-3">Vous pouvez faire un <strong class="text-success">cours d’essai </strong>: Démarrage
                    des activités à partir du lundi 10 septembre 2018</li>

            </ul>

            <h5>À partir de quand puis-je m’inscrire ?</h5>

            <p>Vous avez le choix entre 2 options : </p>

            <ul>
                <li class="mt-3">dès le lundi 3 septembre 2018, avant le démarrage des activités (avec accord
                    animateur)</li>
                <li class="mt-3">à partir du 10 septembre 2018 (démarrage des cours), après votre cours d’essai, si vous
                    souhaitez en faire un, et si vous ne connaissez pas l’activité.</li>
            </ul>

            <p>Attention, les 2 choix comportent une contrainte : </p>

            <ul>
                <li class="mt-3">Certaines activités sont au complet dès démarrage des cours.</li>
                <li class="mt-3">En cas de regret du choix de l’activité, le remboursement ou le changement n’est pas
                    possible.</li>
            </ul>

            <p><strong>N’hésitez pas à prendre des renseignements ! Vous êtes responsable du choix que vous
                faites.</strong></p>

            <h5>Pour les nouveaux adhérents à certaines activités</h5>

            <p>Pré-inscription obligatoire auprès des animateurs pour les activités suivantes lors des
                <strong>Portes Ouvertes</strong> (mercredi 5 septembre) : CABARET, PIANO-CHANSON, DANSE CLASSIQUE, DANSE
                HIP HOP, DANSE JAZZ, EVEIL CORPOREL, GUITARE, THEATRE et ESCALADE. Préinscription valable du 10 au 15
                septembre inclus; si vous n’avez
                pas réglé votre adhésion le 15 avant 11h30, votre place sera cédée à une autre personne.</p>

            <h5>Nouveautés 2018
                <small>voir détails dans les activités concernées</small>
            </h5>

            <ul>
                <li class="mt-3"><strong class="text-success">Formule DUO DANSE :</strong> 2 activités «danse en couple»
                    au choix : sévillanes, rock, salsa, danses en couple, danses brésiliennes.</li>
                <li class="mt-3"><strong class="text-success">Formule DUO ZEN :</strong> 2 activités au choix :
                    méditation pleine conscience, pilates, postural ball®, fitball, yoga (1h), qi gong, taï chi.</li>
                <li class="mt-3"><strong class="text-success">Formule DUO ZEN + :</strong> 2 activités au choix :
                    sophrologie, yoga (1h30)</li>
                <li class="mt-3"><strong class="text-success">Les Formules MUSCULATION :</strong> Mercredi - Friday Form
                    - Samedi.</li>
                <li class="mt-3"><strong class="text-success">Le Parrainage :</strong> réduction de 5% pour le parrain !
                    (voir ci-dessous)</li>
            </ul>

            <h5>Horaires de l'accueil</h5>

            <a class="anchor" id="horairesinscriptions"></a>

            <p><strong>Inscription Mauguio</strong> - du lundi 3 septembre au samedi 20 octobre 2018</p>

            <table class="table table-primary table-hover">

                <tr>
                    <th width="33%">Jours</th>
                    <th width="33%">Matin</th>
                    <th width="33%">Après-midi</th>
                </tr>

                <tr>
                    <td width="33%">Lundi & Mardi</td>
                    <td width="33%">Fermé</td>
                    <td width="33%">14h00 - 19h00</td>
                </tr>

                <tr>
                    <td width="33%">Mercredi</td>
                    <td width="33%">9h30 - 11h30</td>
                    <td width="33%">13h30 - 19h00</td>
                </tr>

                <tr>
                    <td width="33%">Jeudi & Vendredi</td>
                    <td width="33%">9h30 - 11h30</td>
                    <td width="33%">14h-19h</td>
                </tr>

                <tr>
                    <td width="33%">Samedi</td>
                    <td width="33%">9h30 - 11h30</td>
                    <td width="33%">Fermé</td>
                </tr>

            </table>

            <p><strong>Inscription Carnon</strong> - du lundi 3 septembre au samedi 20 octobre 2018</p>

            <table class="table table-primary table-hover">

                <tr>

                    <th width="33%">Jours</th>
                    <th width="33%">Matin</th>
                    <th width="33%">Après-midi</th>
                </tr>

                <tr>
                    <td width="33%">Lundi au Vendredi</td>
                    <td width="33%">Fermé</td>
                    <td width="33%">14h00 - 18h00</td>
                </tr>

            </table>

            <p class="mt-4 text-warning">Hors période de rentrée, les horaires de l'accueil sont les <a
                    href="{% url 'info'    %}#openinghours">suivants</a>.</p>

            <h2>Tarifs des activités<small></small></h2>

            <a class="anchor" id="tarifs"></a>

            <p>La politique tarifaire est définie par le Conseil d’Administration de la MJC.</p>

            <h5>Pour les résidents de Mauguio-Carnon :</h5>

            <ul>
                <li class="mt-3">Les tarifs sont indiqués devant chaque activité (<strong class="text-dark">" MC
                    "</strong>). Ce sont des tarifs forfaitaires pour une période allant du 10 septembre 2018 au 29 juin
                    2019, et non pas calculés sur un nombre précis de cours. Des formules au trimestre existent
                    pour certaines activités.</li>
                <li class="mt-3">Le public « – de 25 ans » bénéficie généralement d’un tarif réduit. Renseignez-vous.</li>
                <li class="mt-3">Des réductions sont proposées : voir détails ci-dessous.</li>
            </ul>

            <h5>Pour les résidents « hors Mauguio-Carnon » :</h5>

            <ul>
                <li class="mt-3">Les tarifs majorés sont indiqués devant chaque activité (<strong class="text-dark">"
                    Hors MC "</strong>)</li>
            </ul>

            <h5 class="mb-4">Ai-je droit à des réductions et des forfaits ?</h5>

            <table class="table table-hover table-primary">

                <tr>
                    <th colspan="2" class="text-center table-dark">Réduction pour tous</th>
                </tr>

                <tr>
                    <td width="50%">Je parraine un nouvel adhérent et je l’inscris en même temps que moi. (max. 2
                        filleuls)
                    </td>
                    <td width="50%">- 5% si inscription avant le 31 décembre 2018</td>
                </tr>

                <tr>
                    <td width="50%">Je pratique une activité depuis plus de 3 saisons consécutives</td>
                    <td width="50%">- 5% si inscription avant le 6 octobre 2018</td>
                </tr>

            </table>

            <table class="">
                <tr>
                    <td class="table-text">
                        <p class="text-danger text-nowrap"><strong>ATTENTION :</strong></p>
                    </td>
                    <td class="table-text">
                        <p class="text-danger">Aucune réduction ni forfait pour les activités inférieures à 120€, ainsi
                            que pour les activités Clavier, Piano, Chanson et Guitare</p>
                    </td>
                </tr>
            </table>

            <table class="table table-hover table-primary">
                <tr>
                    <th colspan="2" class="text-center table-dark">Réductions et forfait réservés aux résidents de
                        Mauguio-Carnon
                    </th>
                </tr>
                <tr>
                    <td colspan="2" class="text-center table-warning">- Réduction - <br> Je suis non imposable : impôt
                        sur le revenu net avant correction.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>1<sup>ère</sup> condition : être non-imposable avant la décote <br>(Cf. avis
                                d’imposition, rubrique 14 = 0)</li>
                            <br>
                            <li>2<sup>ème</sup> condition : avoir un revenu fiscal de référence<br>(RFR, rubrique 25) en
                                dessous du seuil <br>(voir barème dans le tableau suivant)</li>
                        </ul>
                    </td>
                    <td width="25%" class="align-middle text-center">
                        <p>- 10% si inscription avant fin déc. 2018</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="align-middle text-center table-warning">- Forfait - <br>Applicable jusqu’au
                        20 octobre 2018
                    </td>
                </tr>
                <tr>
                    <td width="75%">Je pratique 2 activités (ou plus) égales ou supérieures à 120€ <br>(inscription
                        simultanée)
                    </td>
                    <td width="25%" class="align-middle text-center">- 15%</td>
                </tr>
                <tr>
                    <td colspan="2" class="align-middle text-center table-success">Je peux cumuler réductions et
                        forfait.<br>Plafond du cumul des réductions cumulées : 30%
                    </td>
                </tr>
            </table>

            <table class="table table-hover table-info">
                <tr>
                    <th colspan="4" class="align-middle text-center">Barème de vos revenus en 2017</th>
                </tr>
                <tr>
                    <td width="20%" class="align-top text-center">Nombre<br>de parts</td>
                    <td width="30%" class="align-top text-center">Rev. fiscal de référence 2017</td>
                    <td width="20%" class="align-top text-center">Nombre<br>de parts</td>
                    <td width="30%" class="align-top text-center">Rev. fiscal de réf.<br>2017</td>
                </tr>
                <tr>
                    <td width="20%" class="align-middle text-center">1</td>
                    <td width="30%" class="align-middle text-center">25 432,00 €</td>
                    <td width="20%" class="align-middle text-center">1.5</td>
                    <td width="30%" class="align-middle text-center">31 374,00 €</td>
                </tr>
                <tr>
                    <td width="20%" class="align-middle text-center">2</td>
                    <td width="30%" class="align-middle text-center">36 051,00 €</td>
                    <td width="20%" class="align-middle text-center">2.5</td>
                    <td width="30%" class="align-middle text-center">40 728,00 €</td>
                </tr>
                <tr>
                    <td width="20%" class="align-middle text-center">3</td>
                    <td width="30%" class="align-middle text-center">45 405,00 €</td>
                    <td width="20%" class="align-middle text-center">Supérieur à <br>3 parts</td>
                    <td width="30%" class="align-middle text-center">+ 4 677,00 € par 1/2 part supplémentaire</td>
                </tr>
            </table>

            <h2>Quels sont les documents nécessaires ?<small></small></h2>

            <a class="anchor" id="documents"></a>

            <p>Les documents nécessaires sont les suivants :</p>

            <ul>
                <li class="mt-3"><strong>Certificat médical datant de moins de 3 mois</strong><br>
                    <span class="text-danger"> OBLIGATOIRE</span> pour toute activité physique, également pour toutes
                    les activités des rubriques Danses et Relaxation. Il sera exigé lors de l’inscription.</li>
                <li class="mt-3"><strong>Justificatif de domicile récent</strong><br> pour les résidents de
                    Mauguio-Carnon, anciens et nouveaux adhérents (dernière facture EDF, ...).</li>
                <li class="mt-3"><strong>Dernier avis d’imposition</strong> (si droit à des réductions).</li>
                <li class="mt-3"><strong>Moyens de paiement</strong><br> Espèces, chèques bancaires (étalement possible
                    en 3 fois, jusqu’en décembre 2018), carte bancaire (uniquement à la MJC de Mauguio). Si vous
                    souhaitez régler par chèques vacances ou coupons sport,
                    pensez à les commander à l’avance : aucun dossier ne sera mis en attente.</li>
            </ul>

            <table class="">
                <tr>
                    <td class="table-text text-danger text-nowrap"><strong>ATTENTION :</strong></td>
                    <td class="text-danger">Le montant total (adhésion MJC + cotisation activité) est exigible à
                        l’inscription (même si le paiement est étalé). Aucun dossier incomplet ne sera traité</td>
                </tr>
            </table>

            <h2>Cas particuliers</h2>

            <a class="anchor" id="casparticuliers"></a>

            <table class="table table-hover table-primary">
                <tr>
                    <td width="35%"><strong>Regret du choix de l’activité</strong></td>
                    <td width="65%">Pas de remboursement ni de changement d’activité possible</td>
                </tr>
                <tr>
                    <td width="35%"><strong>Incapacité temporaire à pratiquer mon activité / Déménagement</strong></td>
                    <td width="65%">Réagissez vite ! Votre demande sera prise en compte à partir de la date de réception
                        du justificatif à l’accueil de la MJC (et non pas de la date d’établissement du justificatif)</td>
                </tr>
                <tr>
                    <td width="35%"><strong>Inscription en cours d’année</strong></td>
                    <td width="65%">
                        <ul class="pr-0">
                            <li class="mt-0">Jusqu’en décembre 2018 : tarif plein</li>
                            <li>A partir de janvier 2019 : le tarif est calculé au prorata des mois restants, sauf pour
                                les activités en dessous de 88€</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center"><strong>Tout mois commencé est dû</strong></td>
                </tr>
            </table>

            <h2>Droit à l'image &<br> Protection des données personnelles</h2>

            <a class="anchor" id="protection"></a>

            <div class="alert alert-info">
                <strong>Droit à l'image</strong> - Dans le cadre de sa promotion, pour une meilleure information de
                tous, la MJC est amenée à utiliser des images de ses activités. Si vous ne souhaitez pas que votre image
                soit publiée sur les supports
                de communication de la MJC : veuillez fournir une photo d’identité et signer l’attestation à l’accueil..
            </div>

            <div class="alert alert-info">
                <strong>RGPD - Le règlement général sur la protection des données</strong> - qui est entré en
                application le 25 mai 2018, impose une information concise, transparente, compréhensible et aisément
                accessible des personnes concernées. Cette
                obligation de transparence est définie aux articles 12, 13 et 14 du RGPD. L’obligation d’information
                existe déjà dans la loi Informatique et Libertés. Elle est renforcée par le RGPD. La MJC est à votre
                disposition pour toute information
                sur l’utilisation des données de ses adhérents..
            </div>

        </div>
        <!-- /. col -->

    </div>
    <!-- /. row-->

</div>
<!-- /.container -->
{% endblock %}