{% extends 'base.html' %} {% load static from staticfiles %} {% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-8 offset-md-2">

            <h1 class="mt-5 mb-5">JE SUIS JEUNE, <br>LA MJC DE <span class="text-danger">MAUGUIO</span><br> ME PROPOSE...<small></small></h1>
            
            <a href="{% url 'youth_carnon' %}"><p class="text-right text-danger"><i>Si je suis à Carnon...</i></p></a>

            <hr>

            <p><strong>Menu</strong></p>
            <a href="#educationalsupport"><strong>Accompagnement scolaire</strong></a><br>
            <a href="#locale"><strong>Le LOCAL JEUNES et ses animations (à partir de 11 ans)</strong></a><br>
            <a href="#leisureactivities"><strong>ALSH Loisir Jeunes (11 - 17 ans)</strong></a>

            <hr>
            
            <h2>Accompagnement scolaire</h2>
            
            <a class="anchor" id="educationalsupport"></a>
            
            <p>Dans le cadre du dispositif Contrats Locaux d’Accompagnement Scolaire (CLAS), en partenariat avec
                la municipalité, les écoles primaires et la CAF, la MJC propose un accompagnement d’enfants en
                difficulté scolaire, tout au long de l’année. Démarrage après les vacances de la Toussaint.</p>

            <p>Renseignements :</p>

            <ul>
                <li class="mt-3">Auprès des directeurs d’écoles </li>
                <li class="mt-3">A la MJC, auprès de la coordinatrice Amandine</li>
            </ul>
            
            <h2>Le Local Jeunes et ses animations<br><small>(à partir de 11 ans)</small></h2>
            
            <a class="anchor" id="locale"></a>
            
            <p>Lieu de rencontre et d’échange, de détente, de plaisir, et d’accompagnement aux projets des jeunes.
                Permanence d’accueil de l’animateur Mathias: Lundi, mardi et jeudi : 17h/19h , mercredi : 14h/19h30.
                Condition d’accès : avoir la carte d’adhérent.</p>

            <p>Les Loisirs Jeunes proposent aussi des rendez-vous en dehors des vacances scolaires : soirée pizza
                (vidéo, costumée, jeux...) le premier mercredi de chaque mois et une sortie culturelle par trimestre.
                Un calendrier trimestriel des différentes animations sera proposé.</p>
            
            <h2>ALSH Loisirs Jeunes<br><small>(11 - 17 ans)</small></h2>
            
            <a class="anchor" id="leisureactivities"></a>
            
            <p>Pendant les vacances scolaires, un programme de loisirs très varié et innovant vous est proposé,
                avec de nombreuses actions culturelles. L’accueil est organisé sur des journées. Avant chaque
                période de vacances, les programmes sont disponibles à l’accueil, sur le site internet MJC
                (ci-dessous) et Facebook.</p>
            
            {% for d in documents %}
                {% if d.file_code == "0001" and d.file %}

                <!-- Document Y -->
                <div class="col-md-4 offset-md-4 mb-4">

                    <div class="card card-list-hover h-100 text-center" onclick="goTo('{{ MEDIA_URL }}{{ d.file }}')">

                        <div class="row m-0 p-2">
                            <div class="img-doc rounded-top" style="background-image:url('{{ STATIC_URL }}images/doc.png')"></div>
                        </div>

                        <div class="card-footer">
                            <p class="card-text">{{ d.file_name }}</p>
                        </div>

                    </div>

                </div>
                {% endif %}
            {% endfor %}
            
            <p>Réservation indispensable auprès de Mathias. Les Loisirs Jeunes bénéficient de l’agrément
                ministériel Jeunesse et Sports et des tarifs conventionnés avec la CAF.</p>
            
            <!-- Info -->
            <div class="alert alert-success text-center">

                <p>J’ai envie de m’impliquer dans les actions Jeunes de la MJC<br>(financer des projets de voyage
                    et d’activité) : j’apporte mon aide lors des évènements <br>REVELATIONS JEUNES TALENTS,
                    FESTIJEUN’S, ROMERIA,…</p>

                <p>Je peux faire du bénévolat et acquérir de l’expérience avec la MJC.</p>

                <p>J’aime la création : la MJC peut m’accompagner dans mon projet artistique.</p>

            </div>
            
            <!-- Info -->
            <div class="alert alert-danger text-center">

                <p>Pour plus de renseignements, contacter l’animateur Mathias : <br>
                04 67 06 01 91 / 07 82 68 44 13<br>
                jeunes@mjcmauguiocarnon.fr
                <br>Facebook : ”Mathias d’la mjc” </p>

            </div>
            
        </div>
        <!-- /. col -->

    </div>
    <!-- /. row-->

</div>
<!-- /.container -->
{% endblock %}