{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

    <!-- Page Content -->
    <div class="container">
        
        <div class="row">
              
            <!-- Content Column -->
            <div class="col">
            
                <button class="btn btn-outline-danger mt-5" onclick="goBack()">Retour</button>
                
                <!-- Image -->
                <div class="row m-0 mt-3">    
                    <div class="img rounded" style="background-image:url('{{ MEDIA_URL }}{{ animation.image }}')"></div>
                </div>
                
                <hr>
                
                <!-- Info badges -->
                <div class="text-center">
                    <span class="text-uppercase badge badge-pill badge-success">{% if animation.new %} Nouveau {% endif %}</span>
                    <span class="text-uppercase badge badge-pill badge-info">{% if animation.disabled_friendly %} Accessible Handicap {% endif %}</span>
                    <span class="text-uppercase badge badge-pill badge-primary">{% if animation.flash is not None %}{{ animation.flash }}{% else %}{% endif %}</span>
                    <span class="text-uppercase badge badge-pill badge-danger">{% if animation.available_in_both_cities %} Dispo à Mauguio ET à Carnon {% endif %}</span>
                </div>
                
                <!-- Animation description -->
                <h1 class="mt-4 mb-3 text-center text-capitalize">{{ animation.name }}</h1>
                <h4 class="text-center text-black"> avec </h4>
                <h4 class="mt-4 mb-3 text-center">
                    {% for h in hosts %}
                        {% if forloop.first %}{% elif forloop.last %} & {% else %}, {% endif %}
                        <a href="{% url 'host' h.id %}">
                            <span class="text-capitalize">{{ h.firstname }}</span> <span class="text-uppercase">{{ h.lastname }}</span>
                        </a>
                    {% endfor %}
                </h4>
                
                <div class="mt-4 mb-3 lead text-center lead text-center">
                    <p class="">{{ animation.description|linebreaks }}</p>
                </div>
                
                <!-- Table -->
                <div class="table-responsive-lg">
                    <table class="table table-secondary table-hover text-center mt-5 mb-5">
                        
                        <thead>
                            
                            <tr class="bg-danger text-white">
                                <th scope="col">Nom</th>
                                <th scope="col">Age</th>
                                <th scope="col">Niveau</th>
                                <th scope="col">Jours & Horaires</th>
                                <th scope="col">Anim.</th>
                                <th scope="col">Salle</th>
                                <th scope="col">Tarifs</th>
                                <!-- Admin -->
                                {% if user.is_superuser %}
                                    <th>Admin</th>
                                {% endif %}
                            </tr>
                            
                        </thead>
                        
                        <tbody>
                        
                            {% for slot in slots %}
                            
                                <tr class={% if slot.room.venue.city.id == 2 %}"table-warning"{% endif %}>
                                    
                                    <!--Badge - New -->
                                    <!--<td>{% if slot.new %}<span class="badge badge-pill badge-success">N</span>{% endif %}</td>        -->
                                    
                                    <!-- Slot name-->
                                    <td>{% if slot.name|length > 0%}{{ slot.name }}{% else%}-{% endif %}</td>
                                    
                                    <!-- Age -->
                                    <td>
                                        <span class="text-nowrap">
                                            {{ slot.age_group.age_min }} / {{ slot.age_group.age_max }}
                                        </span>
                                    </td>
                                    
                                    <!-- Level -->
                                    <td>{% if slot.level|length > 0%}{{ slot.level }}{% else%}-{% endif %}</td>
                                    
                                    <!-- Day & Time -->
                                    <td>{{ slot.dates|linebreaks }}</td>
                                    
                                    <!-- Hosts-->
                                    <td>
                                        {% for host in slot.host.all %}
                                            {{ host.initials }}
                                        {% endfor %}
                                    </td>
                                    
                                    <!-- Venue - Room -->
                                    <td>
                                        <a href="{% url 'venue' slot.room.venue.name %}">
                                            <span class="text-nowrap">{{ slot.room.venue.name }}</span>
                                            <br>
                                            {% if slot.room.room_nb is None %}{% else %}{{ slot.room.room_nb }}{% endif %}{% if slot.room.room_nb and slot.room.room_name  %}
                                            <br>
                                            {% endif%}{% if slot.room.room_name is None %}{% else %}<span class="text-nowrap">{{ slot.room.room_name }}</span>{% endif %}
                                        </a>
                                    </td>
                                    
                                    <td>{{ slot.rate }}</td>
                                    
                                    <!-- Admin -->
                                    {% if user.is_superuser %}
                                    <td><a href="{% url 'admin_edit_workshop' slot.id %}" target="_blank">Modifier</a></td>
                                    {% endif %}
                                    
                                </tr>
                                
                            {% endfor %}
                            
                        </tbody>
                        
                    </table>
                </div>
                
                <!-- Notes - Animation -->
                <!--<p class="mt-4 mb-3"><strong>Information générale :</strong></p>-->
                <!--<p>{{ animation.notes      }}</p>-->

                <!-- Info -->
                {% for slot in slots %}
                
                    {% if slot.notes|length > 0 or slot.description|length > 0 %}
                        
                        <p class="mt-4 mb-3"><strong>{{ slot.name }} :</strong></p>
                        
                        <table class="table-text">
                            {% if slot.description|length > 0 %}
                            <tr>
                                <td class="table-text"><i class="text-nowrap">Présentation :</i></td>
                                <td>{{ slot.description|linebreaks }}</td> 
                            </tr>
                            {% endif %}
                            {% if slot.notes|length > 0 %}
                            <tr>
                                <td class="table-text"><i class="text-nowrap">Notes : </i></td>
                                <td>{{ slot.notes|linebreaks }}</td>
                            </tr>
                            {% endif %}
                        </table>
                        
                    {% endif %}
                    
                {% endfor %}
                
                <a href="{% url 'rate_and_registration_workshops' %}">
                    <button id="register_button"
                            type="button"
                            class="nounderline btn btn-outline-danger btn-lg btn-block mt-5 text-uppercase">
                        Comment s'inscrire ?
                    </button>
                </a>
                
            </div>

        </div>

    </div>
            
{% endblock %}