{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    
    <!-- Page Content -->
    <div class="container">
    
        <!-- Page Title -->
        <div class="header rounded mt-4 mb-3" style="background-image: url({{ MEDIA_URL }}{{ workshop.image }})">
            <h1 class="txt-white center text-uppercase"> {{ workshop.title }} </h1>
        </div>
        

        <hr>

        <!-- Description -->
        <div class="col-md-10 offset-md-1 col-md-8 p-2 text-center text-muted lead">
            <p class="">{{ workshop.description|linebreaks }}</p>
        </div>

        <hr>
    
        <!-- Data -->
        <div class="row">
            
            {% for animation_type in animations_types_workshops %}
                <div class="col-lg-4 mb-4">
                    
                    <div class="card card-list card-list-hover h-100 cursor" onclick="goTo('{% url 'w_list_of_animations' animation_type.animation_type %}')">
                        
                        <div class="row m-0">    
                            <div class="col-md-12 img" style="background-image:url('{{ MEDIA_URL }}{{ animation_type.image }}')"></div>    
                        </div>
                        
                        <h4 class="card-header text-capitalize"> {{ animation_type.animation_type }}</h4>
                        
                        <!--<div class="card-body">-->
                        <!--    <p class="card-text">{{ animation_type.description|truncatewords:40 }}</p>-->
                        <!--</div>-->
                        
                        <!--<div class="card-footer">-->
                        <!--    <a href="{% url 'w_list_of_animations' animation_type.animation_type %}" class="btn btn-outline-danger">Découvrir</a>-->
                        <!--</div>-->
                        
                    </div>
                    
                </div>
            {% endfor %}
                
        </div>
        
    </div>
    <!-- /.container -->
    
{% endblock %}